<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/home.css" type="text/css">
    <style>
        .form-items{
            border-radius: 10px;
            padding:8px;
            margin:15px;
            font-family: cursive;
            font-size: 20px;
        }
        #submit{
            border-radius: 10px;
            padding:8px;
            margin:15px;
            font-family: cursive;
            font-size: 20px;
            background-color: aquamarine;
        }
        #err{
            padding:8px;
            margin:15px;
            color:red;
        }
    </style>
</head>
<body>
<div>
    <div>
        <div class="header"></div>
    
        <div class="menu" id="menu">
            <div class="menu-icon"></div>
            <div class="menu-icon"></div>
            <div class="menu-icon"></div>
        </div>
        <div class="register">
            <a href="/signup" id="register">Sign up</a>
        </div>
    </div>
    <div class="side-menu" id="side-menu">
        <a href="javascript:void(0)" id="menu-close"> <i id="menu-x"  class="fa fa-close"></i></a>
        <h2 id="menu-header">Hii </h2>
        <a href="/" class="menu-items">Home</a>
        <a href="/dares" class="menu-items">Dares</a>
        <a href="/help" class="menu-items">Help</a>
        <a href="/suggestions" class="menu-items">Suggestions</a>
        <a href="/subscribe" class="menu-items">Subscribe</a>
    </div>
    <script>
        var menuOpen=document.getElementById("menu");
        menuOpen.onclick=function(){
            document.getElementById("side-menu").style.left="0%";
        }
        var menuClose=document.getElementById("menu-close");
        menuClose.onclick=function(){
            document.getElementById("side-menu").style.left="-40%";
        }
    </script>
    <div>
        <div class="container">
            <h1 id="heading">Help us by giving your Suggestions</h1>
            <form action="/suggestions" method="POST" onsubmit="return validateMail()">
                <input type="text" id="email" name="mail" class="form-items" placeholder="Enter Your Email"><br>
                <textarea class="form-items" name="suggesting_this" id="suggest" cols="20" rows="3" placeholder="Suggest Here..." ></textarea> <br>
                <span id="err"></span><br>
                <input type="submit" id="submit" value="Submit">
            </form>
            
        </div>
    </div>
    <script>
        var validateMail=function (){
            var i=0;
            var flag=0;
            var mail =document.getElementById('email').value;
            var err=document.getElementById('err');
            if(mail==''){
                return false;
            }else{
                for(i=0;i<mail.length;i++){
                    if(mail[i]=='@'){
                        flag=1;
                        break;
                    }
                }
                if(flag==1){
                    return true;
                }else{
                    err.innerHTML="Enter Valid Mail address";
                    return false;
                }   
            }
        }
    </script>
</div>
</body>
</html>