<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/home.css" type="text/css">
    <style>
        #heading{
            font-family: cursive;
        }
        .inner{
            border:2px solid black;
        }
        .dares{
            background-color: aquamarine;
            font-size: 25px;
            font-family: cursive;
        }
        #dares{
            margin-top: 15px;
            padding:8px 16px;
            display: block;
            text-decoration: none;
            color: white;
        }
    </style>
</head>
<body>
<div>
    <div>
        <div class="header"></div>
    
        <div class="menu" id="menu">
            <div class="menu-icon"></div>
            <div class="menu-icon"></div>
            <div class="menu-icon"></div>
        </div>
        <div class="register">
            <a href="/signup" id="register">Sign up</a>
        </div>
    </div>
    <div class="side-menu" id="side-menu">
        <a href="javascript:void(0)" id="menu-close"> <i id="menu-x"  class="fa fa-close"></i></a>
        <h2 id="menu-header">Hii </h2>
        <a href="/" class="menu-items">Home</a>
        <a href="/dares" class="menu-items">Dares</a>
        <a href="/help" class="menu-items">Help</a>
        <a href="/suggestions" class="menu-items">Suggestions</a>
        <a href="/subscribe" class="menu-items">Subscribe</a>
    </div>
    <script>
        var menuOpen=document.getElementById("menu");
        menuOpen.onclick=function(){
            document.getElementById("side-menu").style.left="0%";
        }
        var menuClose=document.getElementById("menu-close");
        menuClose.onclick=function(){
            document.getElementById("side-menu").style.left="-40%";
        }
    </script>
    <div>
        <div class="container">
            <h1>Thank you</h1>
            <h3>Your response is submitted.</h3>
        </div>
    </div>
</div>
</body>
</html>